.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.create-post {
  text-align: right;
  margin-bottom: 20px;
}

.post-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.post-card h2 {
  margin: 0 0 10px;
}

.post-card p {
  margin: 5px 0;
}

#tagDiv {
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.pagination-buttons a {
  padding: 8px 12px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #000;
  margin: 0 5px;
  border-radius: 4px;
}

.pagination-buttons a:hover {
  background-color: #e0e0e0;
}

.container > div[th\\:each] {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post-card {
  flex: 1 1 calc(50% - 20px);
}


.container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.sidebar {
  order:1;
  width: 250px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 30px;
  height: fit-content;

}

.sidebar label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
  margin-bottom:0.5em;
}

.sidebar input[type="checkbox"] {
  transform: scale(1.1);
  cursor: pointer;
}


.sidebar > label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #111;
}


.date-range-filter {
  display: flex;
  flex-direction:column;
  margin-top: 20px;
  justify-content:center;
}

.date-range-filter label {
  font-weight: 500;
  margin-top:0.6em;
}

.date-range-filter input[type="date"] {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
}

#searchLabel{
    margin-top:1em;
}

#search{
    font-size:1em;
    padding:0.2em;
    margin-bottom:1em;
}

#tagLabel{
    margin-top:1em;
}

#tagDiv{
    display:flex;
    gap:0.7em;
}

.btn {
  font-size:1.5em;
  text-decoration: none;
  font-weight: bold;
  color:grey;
}

#title{
    color:grey;
}

#logout{
    position:relative;
    left:62em;
    top:7em;
}

.ctrl-btn{
    font-size:1em;
    margin-right:1em;
}

.ctrl-a{
      padding: 5px 5px;
     background-color: #f5f5f5;
     border: 1px solid #ccc;
     text-decoration: none;
     color: #000;

}